{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
    <h1>Race index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.name }}</td>
                <td>{{ race.date ? race.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="#" hx-get="{{ path('app_race_show', {'id': race.id}) }}" hx-target="body" hx-push-url="true">show</a>
                    <a href="#" hx-get="{{ path('app_race_edit', {'id': race.id}) }}" hx-target="body" hx-push-url="true">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="#" hx-get="{{ path('app_race_new') }}" hx-target="body" hx-push-url="true">Create new</a>
{% endblock %}
